<head>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

<style>

    body {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      background-color: #f1f1f1;
      margin: 0;
      border: 1px solid;
      border-radius: 1rem;
      align-items: stretch;
    }

    .header {
display: flex;
flex-direction: row-reverse;
gap: 5rem;
justify-content: flex-end;
background-color: #3778c2;
color: #fff;
height: 5rem;
align-items: center;
border-top-left-radius: 14px;
border-top-right-radius: 14px;
    }

    h1 {
      text-align: center;
      font-family: 'Proxima Nova', 'sans-serif';
      font-weight: normal;
      color: #fff;
    }

    h2 {
      font-size: 24px;
      margin-bottom: 20px;
      color: #fff;
    }

.actions {
  text-align: right;
  margin-top: 10px;
}
p {display: none;}
.back-link {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
  font-size: 20px;
}

.field {
  margin-bottom: 10px;
}

label {
  display: block;
  font-weight: bold;
  color: #fff;
}

input[type="email"],
input[type="password"],
input[type="checkbox"] {
width: 92%;
padding: 10px;
font-size: 16px;
border-radius: 4px;
border: 1px solid #5fb523;
margin-left: 5px;
margin-right: 5px;
height: 2rem;
margin-top: 5px;
}

input[type="submit"] {
    padding: 12px 24px;
    position: relative;
    font-size: larger;
    background-color: #3778c2;
    color: #fff;
    text-decoration: none;
    border: white;
    border-radius: 4px;
    transition: background-color 0.3s;
    top: -12.5rem;
    margin-right: 1rem;
}

input[type="submit"]:hover {
  background-color: #5fb523;
}

.forgot-password-link {
  text-align: center;
  font-family: 'Proxima Nova', 'sans-serif';
  font-style: italic;
  color: #434b54
}
.sign-up-link {
display: none;
} 
.material-icons {
  font-family: 'Material Icons';
    margin-left: 1rem;
    font-style: normal;
    font-size: x-large;
}
  </style>
</head>
<div class='header'>
<h1>LOGIN</h1>
<h2><%= link_to root_path, class: 'back-link' do %><i class="material-icons">arrow_back</i><% end %></h2>
</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="field">
  <div class="input-with-label">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "e-mail" %>
  </div>
</div>


  <div class="field">
    <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password"  %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %> 
